
<div id="about">
  <ul class="list-inline text-center">
    <% ["Nightingall", "Chris-1101"].each do |team| %>
      <li>
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{team}", class: "img-circle" %>
        <h3><%= team.capitalize %></h3>
      </li>
    <% end %>
  </ul>
</div>



